<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kylin.kton.system.mapper.KtonOrderItemDynamicsMapper">
    
    <resultMap type="KtonOrderItemDynamics" id="KtonOrderItemDynamicsResult">
        <result property="id"    column="id"    />
        <result property="orderId"    column="order_id"    />
        <result property="capacity"    column="capacity"    />
        <result property="price"    column="price"    />
        <result property="currency"    column="currency"    />
        <result property="days"    column="days"    />
        <result property="discount"    column="discount"    />
        <result property="effectiveDatetime"    column="effective_datetime"    />
        <result property="expireDatetime"    column="expire_datetime"    />
        <result property="status"    column="status"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectKtonOrderItemDynamicsVo">
        select id, order_id, capacity, price, currency, days, discount, effective_datetime, expire_datetime, status, create_time, update_time from kton_order_item_dynamics
    </sql>

    <select id="selectKtonOrderItemDynamicsList" parameterType="KtonOrderItemDynamics" resultMap="KtonOrderItemDynamicsResult">
        <include refid="selectKtonOrderItemDynamicsVo"/>
        <where>  
            <if test="orderId != null "> and order_id = #{orderId}</if>
            <if test="capacity != null "> and capacity = #{capacity}</if>
            <if test="price != null "> and price = #{price}</if>
            <if test="currency != null  and currency != ''"> and currency = #{currency}</if>
            <if test="days != null "> and days = #{days}</if>
            <if test="discount != null "> and discount = #{discount}</if>
            <if test="effectiveDatetime != null "> and effective_datetime = #{effectiveDatetime}</if>
            <if test="expireDatetime != null "> and expire_datetime = #{expireDatetime}</if>
            <if test="status != null  and status != ''"> and status = #{status}</if>
        </where>
    </select>
    
    <select id="selectKtonOrderItemDynamicsById" parameterType="Long" resultMap="KtonOrderItemDynamicsResult">
        <include refid="selectKtonOrderItemDynamicsVo"/>
        where id = #{id}
    </select>

    <insert id="insertKtonOrderItemDynamics" parameterType="KtonOrderItemDynamics" useGeneratedKeys="true" keyProperty="id">
        insert into kton_order_item_dynamics
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="orderId != null">order_id,</if>
            <if test="capacity != null">capacity,</if>
            <if test="price != null">price,</if>
            <if test="currency != null">currency,</if>
            <if test="days != null">days,</if>
            <if test="discount != null">discount,</if>
            <if test="effectiveDatetime != null">effective_datetime,</if>
            <if test="expireDatetime != null">expire_datetime,</if>
            <if test="status != null and status != ''">status,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="orderId != null">#{orderId},</if>
            <if test="capacity != null">#{capacity},</if>
            <if test="price != null">#{price},</if>
            <if test="currency != null">#{currency},</if>
            <if test="days != null">#{days},</if>
            <if test="discount != null">#{discount},</if>
            <if test="effectiveDatetime != null">#{effectiveDatetime},</if>
            <if test="expireDatetime != null">#{expireDatetime},</if>
            <if test="status != null and status != ''">#{status},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateKtonOrderItemDynamics" parameterType="KtonOrderItemDynamics">
        update kton_order_item_dynamics
        <trim prefix="SET" suffixOverrides=",">
            <if test="orderId != null">order_id = #{orderId},</if>
            <if test="capacity != null">capacity = #{capacity},</if>
            <if test="price != null">price = #{price},</if>
            <if test="currency != null">currency = #{currency},</if>
            <if test="days != null">days = #{days},</if>
            <if test="discount != null">discount = #{discount},</if>
            <if test="effectiveDatetime != null">effective_datetime = #{effectiveDatetime},</if>
            <if test="expireDatetime != null">expire_datetime = #{expireDatetime},</if>
            <if test="status != null and status != ''">status = #{status},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteKtonOrderItemDynamicsById" parameterType="Long">
        delete from kton_order_item_dynamics where id = #{id}
    </delete>

    <delete id="deleteKtonOrderItemDynamicsByIds" parameterType="String">
        delete from kton_order_item_dynamics where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>